@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:ital,wght@1,600&family=Prata&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Itim&family=Montserrat:ital,wght@1,600&family=Playfair+Display:ital@1&family=Prata&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: coral; 
    
}
body {
    font-family: 'Playfair Display', serif;
   
    
    
    
}

h1 {
    display: flex;
    justify-content: center;
    color: crimson;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 11.5px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: darkgreen;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

h3 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 3em;
    color: #3636d2;
    padding-bottom: 3em;

}

h4 {
    margin-top: 7em;
    font-size: 18px;
    color: #8f1313;
}



.immagine {
    width: 13em;
    opacity: 0.9;
    padding-bottom: 11.5px;

    
}
.profile {
    display: flex;
    justify-content: center;
}

.name-style {
    display: flex;
    justify-content: center;


    
}

#nom {
    color: red;
    padding-right: 6px;
}



 
.intro p {
    font-size: 20px;
    padding-top: 3em;
    color: #f5e2c7;
    padding-left: 39px;
    

    
}

   
.inthob {
   
    color: azure;
    font-size: 20px;
    margin-top: 8em;
    display: flex; 
}

.inthob p {
    padding-top: 2em;
    padding-left: 11px;
}

.surf-immagine {
    height: 11em;
    width: 9em;
    display: flex;
   
}

.list {
    padding-left: 1.5em;
}

.istr {
    padding-left: 1.5em;

}

.ctc {
    margin-top: 3em;
    color: red
}

.end {

    background: linear-gradient(45deg, #c02e00, #e7dede00);
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    padding-top: 2em;
}

#logo {
    padding-left: 3.3em;
    font-size: 24px;

}

#logophone  {
    padding-left: 3em;
    font-size: 24px;
    padding-left: 1.8em;
}

#social {

    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 22px;

}

.linked {
    display: flex;
    flex-direction: column;
}

#immagini-surf {
    display: flex;
}

#immagini-surf p {
    width: 25em;
    color: azure;
    font-size: 20px;
    padding-top: 2em;
    padding-left: 4em;
}


#sunset {
    height: 13em;
    width: 21em;
}

#unsplash {
    height: 13em;
    width: 17em;

}
#blide {
    height: 13em;
    width: 20em;

}

#porto {
    width: 16em;
    height: 11em;

}

#barca {
    width: 15em;
    height: 11em;

}
#djambe {
    width: 15em;
    height: 11em;

}

#immg2 {
    display: flex;
} 
